.item{
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.item>a{
  width: 100%;
padding: 3px;
border: 2px solid grey;
margin-left: 5px;
border-radius: 5px;
}
.active{
  background: red;
}